.DS_Store
.idea/
logs/
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
_book/
target/
docs/_build/
.vscode/
!asura-app/dist/
!asura-pea/dist/
asura-app/public/
!asura-app/public/.gitkeep
