<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%coloredLevel %logger{15} - %message%n%xException{10}</pattern>
    </encoder>
  </appender>

  <logger name="asura.kafka" level="DEBUG"/>

  <root level="WARN">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
